<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Resume</title>
    <style>
      h1,
      h3,
      p {
        margin: 0;
      }

      .resourceInfoHeader {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      .capitalize {
        text-transform: uppercase;
      }

      ul {
        list-style-position: outside;
        margin: 0;
      }

      .date {
        float: right;
        font-weight: normal;
      }
    </style>
  </head>
  <body>
    <section>
      <div class="resourceInfoHeader">
        <h1 class="capitalize">{{resource.firstName}} {{resource.lastName}}</h1>
        <p>{{resource.email}}</p>
        <p>{{resource.phoneNumber}}</p>
      </div>
      {{#if profileSummary}}
        <br />
        <p>{{profileSummary}}</p>
      {{/if}}
      <br />
    </section>

    <section>
      <h3><u>SKILLS</u></h3>
      <br />
      {{#if skillsSummary}}
        <p>{{skillsSummary}}</p>
        <br />
      {{/if}}
      <ul>
        {{#each skills}}
          <li>({{level}}) {{skill.name}}</li>
        {{/each}}
      </ul>
      <br />
    </section>

    <section>
      <h3><u>PROFESSIONAL EXPERIENCE</u></h3>
      <br />
      {{#if experiencesSummary}}
        <p>{{experiencesSummary}}</p>
        <br />
      {{/if}}
      {{#each experiences}}
        <div>
          <p><strong>{{title}}<span class="date">{{formatdate startDate}} - {{formatdate endDate}}</span></strong></p>
          <p><strong>{{location.city}}, {{location.province}}, {{location.country}}</strong></p>
          <p>{{summary}}</p>
        </div>
        <br />
        <ul>
          {{#each description}}
            <li>{{.}}</li>
          {{/each}}
        </ul>
        {{#if description}}
          <br />
        {{/if}}
      {{/each}}
    </section>

    <section>
      <h3><u>EDUCATION</u></h3>
      <br />
      {{#if educationsSummary}}
        <p>{{educationsSummary}}</p>
        <br />
      {{/if}}
      {{#each educations}}
        <div>
          <p><strong>{{institution}}<span class="date">{{formatdate startDate}} - {{formatdate endDate}}</span></strong></p>
          <p>{{degree}}</p>
          <p>{{summary}}</p>
        </div>
        <br />
      {{/each}}
      <br />
    </section>
  </body>
</html>
